{% extends "shablon.html" %}

{% block rubricator %}
<div class="b-side">
    <h2>Открытки по темам</h2>
    <!-- block content -->
    <div class="b-side__content b-side__content_themes">
        <ul class="b-themes">
	<!-- round block -->
            {% for category in categories %}
            <li>
    	        <img src="/media/export/images/blank.gif">
                <!-- @todo add class -->
                <h3 class="add class">
                    {#{ category.childs }#}
                    <a href="/voice/category/{{ category.id }}/">{{ category.name }}</a>
                </h3>
                <p>
                    {% for child in category.childs %}
                    <a href="/voice/category/{{ child.id }}/">{{ child.name }}</a>,
                    {% endfor %}
                </p>
            </li>
            {% endfor %}
        <!-- /round block -->
        </ul>
    </div>
    <!-- /block content -->
</div>
{% endblock %}

{% block content %}
<noindex>
<script type="text/javascript">

jQuery.extend({
  prevholidaytop: function(el) {
    if ( $("#scrollableholidaytop .holidays-list:visible").prev('.holidays-list').size() > 0  )
    {
        $("#scrollableholidaytop .holidays-list:visible").hide().prev().show();
    }
    return true;
  },
  nextholidaytop: function(el) {
    if ( $("#scrollableholidaytop .holidays-list:visible + ul").size() > 0 )
    {
        $("#scrollableholidaytop .holidays-list:visible").hide().next().show();
    }
    return true;
  }
});
</script>
</noindex>
<!-- round block holidays -->
<div class="b-box b-box_holidays" id="scrollableholidaytop">
    <ul class="ctrl-roll">
        <li><a href="javascript:void(0);" onclick="$.prevholidaytop($(this))" class="prev"></a></li>
        <li><a href="javascript:void(0);" onclick="$.nextholidaytop($(this))" class="next"></a></li>
    </ul>
    <h2>Открытки к празднику</h2>
    <ul class="holidays-list">
    {% for hol in holidays %}
        {% if forloop.counter0 and hol.counter %}
        </ul>
        <ul class="holidays-list" {% if hol.counter %}style="display: none"{% endif %}>
        {% endif %}
            <li>
                <div class="pic"><a href="/voice/holiday/{{ hol.id }}"><img src="{{ hol.img }}" width="64" height="64" alt="{{ hol.name }}" /></a></div>
                <div class="holiday">
                    <p>
        {% if hol.today %}
                        <img src="/media/export/images/today.gif" align="сегодня" />
        {% endif %}
                        <a href="/voice/holiday/{{ hol.id }}">{{ hol.name }}</a>
                    </p>
                    <span class="count">{{ hol.cards }} открыток</span>
                    <span class="date">{{ hol.day }} {{ hol.month }}</span>
                </div>
            </li>
        {% endfor %}
        </ul>
</div>
<!-- /round block holidays -->


<noindex>
<script type="text/javascript" src="/media/export/js/swfobject.js"></script>
<script type="text/javascript">
jQuery.extend({
    prevnew: function(el) {
        if ( $("#scrollablenew .cards-list:visible").prev('.cards-list').size() > 0  )
        {
            removeAllSWFFromBlock("#scrollablenew .cards-list:visible");
            $("#scrollablenew .cards-list:visible").hide().prev().show();
        }
        return true;
    },
    nextnew: function(el) {
        if ( $("#scrollablenew .cards-list:visible + table").size() > 0 )
        {
            removeAllSWFFromBlock("#scrollablenew .cards-list:visible");
            $("#scrollablenew .cards-list:visible").hide().next().show();
        }
        return true;
    }
});
<!--
var _VcSwfDivArray = new Array();
function show(div, id, pt) {
  _VcSwfDivArray.push(new Array(div, id, pt));
  swfobject.embedSWF('/media/export/flash/smallPlayer.swf', div, '66', '69', '8.0.0', '', { id: id, t:pt, base_url: 'http://www.voicecards.ru/get/track/?id=' }, { wmode: 'opaque', play: 'true' });
}
document.onunload = function(){
    for (var i=0; i<_VcSwfDivArray.length; i++){
        document.getElementById(_VcSwfDivArray[i][0]).innerHTML = '<a href="javascript:void(0)" onclick="show(\''+_VcSwfDivArray[i][0]+'\', '+_VcSwfDivArray[i][1]+', '+_VcSwfDivArray[i][2]+')"><img src="/media/export/images/player.gif" width="64" height="67" /></a>'
    }
}
//-->
</script>
</noindex>
<!-- block category -->
<div class="b-box" id="scrollablenew">
    <ul class="ctrl-roll">
        <li><a href="javascript:void(0);" onclick="$.prevnew($(this))" class="prev"></a></li>
        <li><a href="javascript:void(0);" onclick="$.nextnew($(this))" class="next"></a></li>
    </ul>
    <h2>Популярные открытки</h2>
    <!-- cont -->
    <div class="b-box__content">
        <!-- cards list -->
        <table class="cards-list">
{% for card in cards %}
    {% if forloop.counter0 and card.counter %}
        </tr>
        </table>
        <table class="cards-list" {% if card.counter %}style="display: none"{% endif %}>
    {% endif %}
    {% if card.counter2 %}{#($k % 3 == 0 )#}
        {% if card.counter %}{#if ($k && $k % 6)#}
            </tr>
        {% endif %}
            <tr>
    {% endif %}
                <td>
                    <div class="b-card">
                        <div class="player">
                            <a id="repl_id_{{ card.id }}" href="javascript:void(0)" onclick="show('repl_id_{{ card.id }}', {{ card.id }})">
                                <img src="/media/export/images/player.gif" width="64" height="67" alt="слушать" />
                            </a>
                        </div>
                        <div class="card-info">
                            <h4><a href="/voice/card/{{ card.id }}">{{ card.name }}</a></h4>
                            {% if card.catid.id %}
                            <p class="theme"><a href="/voice/category/{{card.catid.id}}">{{ card.catid.nameshort }}</a></p>
                            {% endif %}
                            <p class="send"><a href="/voice/card/{{ card.id }}">отправить</a></p>
                        </div>
                    </div>
                </td>
{% endfor %}
            </table>
						<!-- /cards list -->

						<p class="all-cards"><a href="/voice/category/popular">Все популярные открытки</a></p>

					</div>
					<!-- /cont -->
				</div>
				<!-- /block category -->
{% endblock %}
